.tools-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.all-tools {
    display: flex;
    align-items: center;
}

.tools-item__all-things {
    display: flex;
    align-items: center;
}

.tools-title {
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 62.4px */
}

.tools-text {
    width: 427px;
    color: rgba(255, 255, 255, 0.55);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 166.667% */   
margin-left: 430px;
padding-top: 25px;
padding-bottom: 90px;
}

.all-all__things {
    padding-top: 34px;
    margin-left: 33px;
}

.tools-item__text {
    width: 326px;
    color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
padding-top: 30px;
padding-bottom: 37px;
}

.tools-item__title {
    color: rgba(255, 255, 255, 0.78);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.ccc {
    padding-top: 3px;
    color: rgba(255, 165, 55, 0.55);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.first {
    padding-left: 30px;
}

.tools-item__button-text {
    color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-left: 130px;
}

.tools-item {
    width: 392px;
height: 294px;
flex-shrink: 0;
border-radius: 15px;
background: #1E252B;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
}

.all-things {
    padding-top: 33px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 33px;
}

.all-tools {
    display: flex;
    align-items: center;
}

.text-two {
    color: rgba(255, 165, 55, 0.55);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.text {
    color: rgba(255, 255, 255, 0.78);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.all-tools__text {
    margin-left: 30px;
}

.text-three {
    width: 326px;
    color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
margin-top: 30px;
margin-bottom: 37px;
}

.btn {
    width: 106px;
height: 42px;
flex-shrink: 0;border-radius: 8px;
background: #1E252B;
color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
margin-left: 90px;
}

.item {
    margin-right: 25px;
}

.list-2 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.all-lists {
    margin-left: 90px;
}

.btn-two {
    width: 106px;
height: 42px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 8px;
background: #FF6E30;
}

.btn-number {
    color: #FF6E30;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 184px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: #1E252B;
margin-left: 474px;
margin-bottom: 200px;
}

.brands-title {
    color: rgba(255, 255, 255, 0.80);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 346px;
margin-bottom: 55px;
}

.brands-started {
    background-image: url('/images/Rectangle\ 308.svg');
    background-size: 1224px;
    background-repeat: no-repeat;
}

.brands-images {
    margin-right: 107px;
}

.mana {
    padding-top: 55px;
    padding-bottom: 56px;
    padding-left: 82px;
    padding-right: 83px;
}

.brands-images-2 {
    margin-right: 0;
}

.brands {
    margin-left: 100px;
    margin-bottom: 200px;
}